.Service {
    font-family: Arial, sans-serif;
    background-color: #ECECEC;

}

.return {
    background-color: #05CCF8;
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: 480px;

    &:hover {
        background-color: #29566F;
    }
}

.fade-enter {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
    transition: opacity 300ms ease-out;
}

.fade-exit-active {
    opacity: 0;
}