.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px 15px 180px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: #05CCF8;
    margin-top: 5px;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-left: 50px;
    padding-top: 5px;
    /* Thay thế margin-top bằng padding-top */
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sign-up {
    color: #05CCF8;
    background-color: #ECECEC;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

.log-in {
    margin-top: 5px;
    background-color: #05CCF8;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 1px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}